.navItem {
  font-weight: 300;
  font-size: 20px;
  color:#bababa;
  padding:10px;
  border-top: 1px solid #404040;
}

.navItem a {
  color:inherit;
  text-decoration: none;
}
.navItem a:hover {
  background: #40403f;
}
.navItem span {
  color:white;
  margin-right:10px;
}